{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": "error"
  },
  "globals": {
    "document": true,
    "window": true
  }
}
